.footer {
    height: auto;
    width: 100%;
    background: var(--color1);
    box-shadow: -3px -3px 3px #a6a5ff4c;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
    padding: 25px;
    text-shadow: 1px 0.1px #ffffff7f;
    color: var(--color5);
}
    .footer div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
    }
    .footer > div > ul > li > a {
        text-decoration: underline;
    }