.nav {
    /*position:fixed*/
    top: 0;
    height: 5vh;
    width: 100%;
    background: #7c4b8673;
    box-shadow: 3px 3px 3px #a6a5ff1f;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    padding: 0 20px 0 30px;
    text-shadow: 1px 0.1px #ffffff7f;
}
/* filter: blur(4px);
     box-shadow: 3px 3px 3px #a6a5ff4c;

*/
    .nav a {
    margin-right:5px;
    }