html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: ghostwhite;
    background: url(../public/ivan-guerrero-dR7L9hHWvAI-unsplash.jpg) no-repeat center;
    background-size: cover;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media (max-width: 600px) {
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 1.5em;
    }
}

@media (min-width: 901px) {
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 3em;
    }
    h3 {
        font-size: 1.5em;
    }
}

/*#050c14
     background: #050c14;
    background: url(../public/ivan-guerrero-dR7L9hHWvAI-unsplash.jpg) no-repeat center;
     background-size: cover;
*/