
.field {
    width:100%; 
    padding: 10vh 15vw;
    margin-bottom: 15vh;
    background-color:var(--color4); 
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    .field h2 {
        color: white;
        text-shadow: 2px 1.5px 1px var(--color5);
        margin-bottom: 1em;
    }
    .field ul li {
        color: white;
        font-size: 1.3em;
        list-style: none;
        background: var(--color5);
        box-shadow: 3px 3px 3px var(--color1);
        backdrop-filter: blur(3px);
        margin: 1em;
        width: 90%;
         
        padding: 3px 0 4px 1em;
        transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    }
        .field ul li:before {
            content: "- ";
        }
        .field ul li:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        }
.imgdiv {
    position: relative;
    height: 300px;
    width:300px;
    
}