.field {
    height: 100vh;
    width: 100%;
    background-color: var(--color1);
    background: linear-gradient(0deg, var(--color2) 0%, var(--color1) 9%);
    margin-bottom: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-radius: 100% 0% 100% 0% / 0% 89% 11% 100%;
}

.named {
    
    background: #9993CF;
    background: linear-gradient(to right, #9993CF 6%, #D9FFB8 50%, #CF7483 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    
}
    .named h1 {
        /*font-size: 5vmin;*/
    }
    .named p {
        /*font-size: 2vw;*/ 
        margin: 0.5em;
    }
