.field {
    width: 100%;
    margin: 30% 0;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.field h2,.field h3 , .field p {
    
    margin: 30px 0;
   
}
