.field {
    background-color: var(--color3);
    width: 100%;
    padding: 10vh 15vw;
    margin: 100px auto;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
    .field h2 {
        color: white;
        margin: 5% 5% 20% 5%;
        text-shadow: 3px 3px var(--color1);
    }
    .field > div {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
        background-color:var(--color2);
        margin-bottom:15px;
        
    }

        .field > div > h3 {
            color:white;
            text-shadow: 1px 1px var(--color5);
        }

    .field div:hover {
         
    }